.box-cart{
    @include medidasGlobal(80%, 50%);
    margin: 5% auto;
    background-color: burlywood;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
}
.cart-title{
    .emptyMessage{
        font-size: large;
        text-align: center;
        font-weight: 500;
    }
    .verMas{
        margin: 1% 10%;
        padding: 1%;
        width: 80%;
        opacity: 0.5;
        text-transform: uppercase;
        font-weight: 900;
        border: none;
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
}
.cartContainer{
    section{
        margin: 1%;
        @include displayFlex(flex, row, wrap, center, space-evenly);

        .box-price{
            .box-price__title{
                font-size: x-large;
                text-transform: capitalize;
                font-weight: 900;
            }
            .box-price__price{
                text-align: center;
                font-size: large;
                padding: 1%;
            }
        }
    }
}