.counterBox {
  background-color: antiquewhite;
  width: 20%;
  height: 20%;
  margin: 0;
  @include displayFlex(flex, column, wrap, center, center);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  .divNoStock{
    margin: 2% auto;
    padding: 2%;
    .noStock{
        width: 100%;
        margin: 0;
        padding: 1%;
        text-transform:  uppercase;
        text-align: center;
        font-size: small;
    }
  }
  .divSiStock {
    margin: 2% auto;
    padding: 2%;
    width: 80%;
    @include displayFlex(flex, row, nowrap, center, space-around);
    p {
      margin: 0 10%;
      text-align: center;
      font-size: x-large;
      font-weight: 600;
      width: 50%;
    }
    button {
      @include medidasGlobal(50%, 50%);
      font-size: x-large;
      color: white;
      border: none;
      border-radius: 12%;
    }
    .decrease{
        background-color: orangered;
        cursor: pointer;
    }
    .cantDecrease{
        cursor: not-allowed;
        color: wheat;
    }
    .increase{
        background-color: lightseagreen;
        cursor: pointer;
    }
    .cantIncrease{
      color: wheat;
      cursor: not-allowed;
    }
  }
  .addCart {
    width: 80%;
    margin: 4%;
    padding: 4%;
    border: none;
    border-radius: 15%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    background-color: green;
    color: white;
    &:hover {
      background-color: greenyellow;
      color: black;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .goCart{
    margin: 5%;
    padding: 4%;
    width: auto;
    border: none;
    border-radius: 13%;
    font-size: medium;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background-color: blue;
    color: white;
    &:hover {
      background-color: lightblue;
      color: black;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .block{
    @extend .addCart;
    background-color: gray;
    &:hover {
      background-color: grey;
      color: white;
      cursor: not-allowed;
    }
  }
}
