.boxItem{
    @include medidasGlobal(30%, 30%);
    @include displayFlex(flex, column, wrap, center, center);
    margin: 3%;
    background-color: gainsboro;
    .boxTitle{
        text-align: center;
        .titleItem{
            text-transform: uppercase;
            font-size: x-large;
        }
        .marcaItem{
            font-weight: 500;
            font-size: medium;
        }
    }
    .imgItem{
        margin: 2%;
        @include maxMedidasGlobal(50%, 50%);
    }
    .infoItem{
        width: 100%;
        padding: 2%;
        text-align: left;
        font-size: larger;
        font-weight: 700;
    }
    .priceItem{
        width: 100%;
        margin: 2%;
        text-align: center;
        font-size: x-large;
        font-weight: 700;
    }
}