.boxItem{
    @include medidasGlobal(35%, 35%);
    @include displayFlex(flex, column, wrap, center, center);
    margin: 3%;
    border: none;
    background-color: gainsboro;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    .boxTitle{
        width: 90%;
        text-align: center;
        .titleItem{
            margin: 2%;
            text-transform: uppercase;
            font-size: x-large;
        }
        .marcaItem{
            font-weight: 500;
            font-size: medium;
        }
    }
    .imgItem{
        margin: 4%;
        @include maxMedidasGlobal(37%, 37%);
    }
    .infoItem{
        width: 100%;
        padding: 2%;
        text-align: left;
        font-size: larger;
        font-weight: 700;
    }
    .boxItem__pab{
        @include displayFlex(flex, row, nowrap, center, space-evenly);
        @include medidasGlobal(70%, 20%);
        .btn-detail{
            border: none;
            text-transform: uppercase;
            font-size: larger;
            font-weight: 900;
            background-color: cadetblue;
            .btn-link{
                padding: 3%;
                text-decoration: none;
                color: white;
            }
            &:hover{
                background-color: burlywood;
                cursor: pointer;
            }
        }
        .priceItem{
            margin: 2%;
            padding: 1%;
            text-transform: uppercase;
            font-size: x-large;
            text-align: center;
            font-weight: 700;
        }
    }
}