@media (max-width: 768px) {
  /*NavBar*/
  .navbar_container {
    @include displayFlex(flex, row, wrap, center, center);
    .container-h1{
      width: 60%;
      h1 {
        font-size: $fiveR;
      }
    }
    .container-gender{
      width: 80%;
      order: 2;
    }
  }
  /*Item*/
  .boxItem {
    @include medidasGlobal(50%, 40%);
    @include displayFlex(flex, row, wrap, center, center);
    background-color: rgb(223, 223, 177);
  }
}