
.navbar_container{
    background-color: $navBar;
    padding: 1%;
    @include displayFlex(flex, row, nowrap, center, space-around);
    a{
        text-decoration: none;
    }
    h1{
        color: $title;
        text-transform: uppercase;
        font-size: $fiveR;
        &:hover{
            color: $titleSec;
            cursor: pointer;
        }
    }
    ul{
        width: 30%;
        @include displayFlex(flex, row, nowrap, center, space-around);
        list-style: none;
        li{
            width: auto;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.1rem;
            @include marginAndPadding($oneP,$oneP);
            a{
                text-decoration: none;
                color: $littleOrang;
                &:hover{
                    color: $title;
                }
            }
        }
    }
}